* {
    text-align: center;
}

html, body {
    background-color: #000000 !important;
}

#info-block {
    border-width: 4px;
    border-color: #4682b4;
    background-color: #000000;
    width: 300px;
    text-align: center;
    line-height:30px;
    padding:3px 0;
    float:left;
}

#crypto-block {
    border-width: 4px;
    border-color: #4682B4;
    background-color: #000000;
    width: 300px;
    text-align: center;
    line-height:30px;
    padding:3px 0;
    float:right;
}

#message {
    display: none;
}

#ip {
    display: none;
}